@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    height: 70px;
}

.nav-item {
    margin: 0 15px;
}

.nav-item a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 200;
    color: white;
}

/* Primeira seção do site - Banner e texto chamada */

.inicio {

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

/* Slideshow Inicial */
.img-slide1 {
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(../img/cake-cream-choco.jpg);
    background-size: cover;
    background-position: top;

    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

    height: 100%;
    width: 100%;
}

.img-slide2 {
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(../img/cake-mix.jpg);
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

    height: 100%;
    width: 100%;
}

.img-slide3 {
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(../img/cake-cramberry.jpg);
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

    height: 100%;
    width: 100%;
}

.chamada {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.605);

}

.chamada h1 {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 36px;
    font-weight: lighter;
    color: white;
}

.chamada p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    color: white;
}

/* Segunda seção do site - Ofertas destaques */

.ofertas {
    padding-top: 90px;
    background-color: rgb(50, 25, 5);
}

.ofertas h1 {
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: lighter;
    color: white;

}

.img-prod {
    width: 100%;
    height: 300px;

}

/* Terceira seção do site - Catalogo de produtos e carrinho */

.loja {
    padding-top: 90px;
    background-color: bisque;


}

.loja h1 {
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: lighter;
    color: white;

}

/* Estilizacao do carrinho */



.title2 {
    text-align: center;
    color: #66afe9;
    background-color: #efefef;
    padding: 2%;
}

table th {
    background-color: #efefef;
}

/* Quarta seção do site - Imagem e historia da confeitaria */

.sobre-nos {

    background-color: rgb(50, 25, 5);
}

.foto {
    align-items: center;
}

.foto img {
    width: 500px;
    margin: 30px;
}

.textos {
    color: white;
}